Source: netrunner-pinebook-calamares
Section: devel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.6
Homepage: https://github.com/netrunner-odroid/netrunner-pinebook-calamares

Package: netrunner-pinebook-calamares
Architecture: arm64
Depends: calamares, calamares-plasmalnf
Description: distribution-independent installer framework
 distribution-independent installer framework.
 .
 This package contains the netrunner-pinebook-calamares settings and branding for Netrunner Debian Core.
