[Unit]
Description=Update the operating system whilst offline
ConditionPathExists=/var/lib/calamares/first_run_done
DefaultDependencies=no
Requires=sysinit.target dbus.socket
After=sysinit.target dbus.socket systemd-journald.socket
Before=shutdown.target system-update.target
# See packagekit.service
ConditionPathExists=!/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/usr/sbin/deferred_removal
